{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="overflow-x-auto  w-5/6 mx-auto pl-10">
    <div class="flex justify-end pt-10">
        <a href="{{ path('app_home_new') }}"
        class="px-4 py-2 bg-green-400 text-[#2a2235] font-semibold rounded hover:bg-green-500">
            Add Inventory
        </a>
    </div>
</div>
{% include 'components/table.html.twig' with {
    title: 'Inventory',
    items: inventory,
    columns: [
        { label: 'ID', field: 'id' },
        { label: 'Name', field: 'name' },
        { label: 'Type', field: 'type' },
        { label: 'Description', field: 'description' },
        { label: 'available', field: 'available' },
        { label: 'stock Limit', type: 'stock', field: 'stockLimit' },
        { label: 'total', type: 'stock', field: 'total' },
        { label: '', type: 'delete', delete_route: 'app_home_delete' },

    ],
    pagination: pagination,
    row_url: '/{id}/assigned-items'
} %}

{% endblock %}

